<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:brewer="http://brewer.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	

	<head>
		<title>Pesquisa de cidade</title>
	</head>
	
	<body>
		
		<section class="aw-layout-content  js-content" layout:fragment="conteudo">
		
			<div class="page-header">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-10">
								<h1> Pesquisa de cidade </h1>
							</div>
							
							<div class="col-xs-2" sec:authorize-url="/cidade/nova">
								<div class="aw-page-header-controls">
									<a class="btn btn-default" th:href="@{/cidade/nova}">
										<i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Nova cidade</span>
									</a>
								</div>
							</div>
						</div>
						
					</div>
			</div>
			
			
			<div class="container-fluid">
				<form method="GET" th:object="${cidadeFilter}">
				
				<div class="row">
					<div class="form-group col-sm-4">
					
						<label for="estado" class="control-label">Estado</label>
						<select id="estado" class="form-control" th:field="*{estado}">
								<option value="">Selecione o estado</option>
								
								<option th:each="estado : ${estados}" th:value="${estado.nome}" th:text="${estado.nome}">Sao Paulo</option>
						</select>
					</div>
					
					<div class="form-group col-sm-8">
						<label class="control-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}"/>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary">Pesquisar</button>
				</form>
				
				
				<div class="table-responsive bw-table-simple">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-cidade-col-nome">
									<brewer:order page="${pagina}" field="nome" text="Nome"/>
								</th>
								<th class="table-cliente-col-estado">
									<brewer:order page="${pagina}" field="estado" text="Estado"/>
								</th>
								<th class="table-cliente-col-acoes" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')"></th>
							</tr>
						</thead>
						
						<tbody>
						
							<tr th:each="cidade : ${pagina.content}">
								<td class="text-left" th:text="${cidade.nome}">Nome</td>
								<td class="text-left" th:text="${cidade.estado.nome}">estado</td>
								 
								
								<td class="text-left" sec:authorize="hasRole('ROLE_CADASTRAR_CIDADE')">
									<a class="btn btn-link btn-xs js-tooltip" title="Editar">
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									<a class="btn btn-link btn-xs" title="Excluir" >
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
							
							<tr th:if="${#lists.isEmpty(pagina.content)}">
								<td colspan="7">Nenhuma cidade encontrada.</td>					
							</tr>
						
						</tbody>
						
					</table>
				</div>
				
				<brewer:pagination page="${pagina}"/>
				
			</div>
			
		</section>
	
	</body>

</html>